In [1]:
import pandas as pd
import pyreadr
import datetime
import math
from datetime import datetime, timedelta
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 100)

In [2]:
# define paths:
data_path = '/Users/simonneumeyer/Dropbox/Ethiopia IE - Road Safety/Data/'

crashes_path = 'ETRE - Crashes/'
crash_file = 'FinalData/crashes.csv'

traffic_path = 'ETRE - Traffic/'
traffic_file = 'FinalData/traffic.pq'

precipitation_path = 'Precipitation/'
precipitation_file = 'FinalData/precipitation.csv'

In [3]:
# load data
traffic_final = pd.read_parquet(data_path + traffic_path + traffic_file, engine='pyarrow')
time_segment = pd.read_parquet(data_path + 'Time Segment Data/segment_time_panel.pq', engine='pyarrow')

## preprocess:

In [4]:
# formatting:
traffic_final.ent_occur_time = pd.to_datetime(traffic_final.ent_occur_time)
traffic_final.trans_occur_time = pd.to_datetime(traffic_final.trans_occur_time)

# dropping rows where exit_km = entrance_km (0.01% of the data)
traffic_final = traffic_final[traffic_final.entrance_km!=traffic_final.exit_km]

# create km_from_addis variable:
#traffic_final['entr_km_from_addis'] = traffic_final.entrance_km.apply(lambda x: 78.0-x)
#traffic_final['exit_km_from_addis'] = traffic_final.exit_km.apply(lambda x: 78.0-x)

# drop timestamp NAs:
traffic_final = traffic_final.dropna(subset=['ent_occur_time','trans_occur_time'])

traffic_final = traffic_final.reset_index(drop=True)

# consider only the relevant variables:
traffic_subset = traffic_final[['ent_occur_time', 'trans_occur_time', 'entrance_km', 'exit_km']]

In [5]:
index_to_keep = [i for i, x in enumerate(traffic_final.trans_occur_time-traffic_final.ent_occur_time) if x.total_seconds() > 60]

In [ ]:
traffic_final[index_to_keep,:]

In [6]:
index_to_keep

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [20]:
#traffic_final[(traffic_final.ent_occur_time-traffic_final.trans_occur_time).total_seconds() < 60]

In [25]:
len([x for x in dels if x>0])

9409

In [6]:
def datetime_range(start, end, delta):
    current = start
    while current <= end:
        yield current
        current += delta
    
def transform_row(s):
    '''This transformation should be applied to each row of the dataset.
       Each row is used in the format of pd.Series.
       As I don't have a dataset, I created an example of series which I used to run the function
    '''
    #print(s)
#    s = pd.Series(
#        {
#            'ent_occur_time': pd.to_datetime('2014-08-31 10:07:44'),
#            'trans_occur_time': pd.to_datetime('2014-09-01 08:36:24'),
#            'distance': 16930,
#            'entrance_km':64,
#            'exit_km':2,
#            'direction': 'to addis'
#            })
    
    # preprocess:
    ent_date = datetime.strptime(str(s['ent_occur_time']), "%Y-%m-%d %H:%M:%S")
    exit_date = datetime.strptime(str(s['trans_occur_time']), "%Y-%m-%d %H:%M:%S")
    
    n_km = s['exit_km'] - s['entrance_km']
    speed_sec_km = (exit_date-ent_date).total_seconds()/abs(n_km)
    speed_sec_km = math.floor(speed_sec_km)
    
    new_index = [pd.to_datetime(dt.strftime("%Y-%m-%d %H:%M:%S")) for dt in datetime_range(ent_date, exit_date, timedelta(seconds=speed_sec_km))]
    
    # define step direction (for when entrance_km > exit_km) for km_count:
    step_direction = int(n_km/abs(n_km))
    km_count = [j for j in range(int(s['entrance_km']), int(s['exit_km'] + step_direction), step_direction)]

    dt_one = pd.DataFrame(km_count, index=new_index[:len(km_count)], columns=['km'])    
    dt_one['hour'] = dt_one.index.hour
   
    dt_one['year'] = dt_one.index.year
    dt_one['month'] = dt_one.index.month
    dt_one['day'] = dt_one.index.day
    dt_one['tstamp'] =  pd.to_datetime(dt_one[['year', 'month', 'day']])
   
    dt_one['count'] = 1
   
    # if we also want to know which road this car was on, we can add an extra column
    #dt_one['road'] = s.direction 
   
    dt_one_tr = dt_one.set_index(['tstamp','hour','km'])['count'] # could add road
   
    return dt_one_tr

def main(data):
    traffic = pd.concat(
        {
            i: transform_row(data.loc[i, :]) for i in data.index
            }, axis=0, names=['car','tstamp','hour','km'])  # could add road
    
    results = traffic.groupby(['tstamp','hour','km']).sum()  # could add road
    return results

In [7]:
traffic_subset.sample(frac=1)

              ent_occur_time    trans_occur_time  entrance_km  exit_km
21423699 2018-10-16 18:53:44 2018-10-16 19:08:29          2.0     16.0
16580609 2017-12-02 11:25:31 2017-12-02 12:02:47          2.0     64.0
10827209 2017-09-08 08:31:37 2017-09-08 09:12:33         60.0      2.0
1837187  2015-12-16 17:57:24 2015-12-16 18:09:06         16.0      2.0
25991896 2019-03-28 19:38:56 2019-03-28 20:14:31         52.0      2.0
...                      ...                 ...          ...      ...
29311996 2019-06-22 17:24:45 2019-06-22 18:09:04          2.0     52.0
2790525  2015-09-27 17:06:17 2015-09-27 17:20:56         60.0     33.0
15603457 2017-01-29 14:18:45 2017-01-29 14:48:55         16.0     60.0
28729121 2019-02-22 16:27:12 2019-02-22 16:54:40          2.0     33.0
4650064  2016-09-30 06:13:44 2016-09-30 06:42:44         60.0      2.0

[31075718 rows x 4 columns]

In [358]:
%%time
a = main(traffic_subset.sample(frac=0.00005))

ValueError: Shape of passed values is (9, 1), indices imply (0, 1)

In [357]:
a.reset_index().to_parquet(data_path + 'Time Segment Data/traffic_feature.pq')

## date and segment range:

### date range:

In [19]:
ent_occur_time = traffic_final.ent_occur_time
trans_occur_time = traffic_final.trans_occur_time

In [ ]:
%%time
time_range = []
for i in range(len(ent_occur_time)):
    item = pd.date_range(ent_occur_time[i].round('60min'), trans_occur_time[i].round('60min'), freq='H')
    time_range.append(item)
traffic_final['time_range'] = time_range

In [10]:
#%%time
#traffic_final['time_range'] = traffic_final[['ent_occur_time', 'trans_occur_time']][:10000].apply(lambda row: pd.date_range(row.ent_occur_time.round('60min'),row.trans_occur_time.round('60min'), freq='H'), axis=1)

### segment range:

In [11]:
entr_km_from_addis = traffic_final.entr_km_from_addis
exit_km_from_addis = traffic_final.exit_km_from_addis

In [ ]:
%%time
segment_range = []
for i in range(len(exit_km_from_addis)):
    item = range(int(entr_km_from_addis[i]), int(exit_km_from_addis[i]))
    segment_range.append(item)
traffic_final['segment_range'] = segment_range

CPU times: user 35min, sys: 26.2 s, total: 35min 26s
Wall time: 36min 42s

In [45]:
traffic_final

,plaza_id,trans_occur_time,car_license,veh_type,up_down,total_weight,distance,ent_plaza_id,ent_occur_time,time_on_road,speed_km_hr,entrance_km,exit_km,direction,entr_km_from_addis,exit_km_from_addis
0,102,2014-09-01 08:35:30,0x92AD56AB29E347D1779A07879D38C67A,2,0,0,16930.0,101,2014-08-31 10:07:42,1347.800000,NaN,2.0,2.0,to addis,76.0,76.0
1,102,2014-09-01 08:36:24,0x2CD713BB239103A0B783F539E3BEEF32,3,0,0,16930.0,101,2014-08-31 10:22:29,1333.916667,NaN,2.0,2.0,to addis,76.0,76.0
2,102,2014-09-01 08:37:21,0xBC6CE93C7F7B823BF30E9C741AFD5E1E,5,0,0,16930.0,101,2014-08-30 15:19:22,NaN,NaN,2.0,2.0,to addis,76.0,76.0
3,102,2014-09-01 08:38:17,0x99AF7C40091A3325B24D7E451316AA9F,2,0,0,16930.0,101,2014-08-31 10:20:53,1337.400000,NaN,2.0,2.0,to addis,76.0,76.0
4,102,2014-09-01 10:38:38,0xCFCD208495D565EF66E7DFF9F98764DA,1,0,0,NaN,0,NaT,NaN,NaN,2.0,2.0,to addis,76.0,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31844671,602,2019-08-31 23:50:28,0x0B3C0CD1FDE274BEE444E1B4AD22F3C0,3,0,0,73310.0,101,2019-08-31 22:50:50,59.633333,73.760760,2.0,64.0,to addis,76.0,14.0
31844672,602,2019-08-31 23:52:00,0xD740B5BD8DB8A86A3B10FE7FCF675FE2,3,0,2600,73310.0,101,2019-08-31 23:04:51,47.150000,93.289502,2.0,64.0,to addis,76.0,14.0
31844673,602,2019-08-31 23:52:38,0x0A5E88CC182B9D75487392C0661CBA6A,7,0,20350,73310.0,101,2019-08-31 22:45:44,66.900000,65.748879,2.0,64.0,to addis,76.0,14.0
31844674,602,2019-08-31 23:53:18,0xEC0ECBF72F19F3F9400CE5648FFB5D90,7,0,0,73310.0,101,2019-08-31 22:40:18,73.000000,60.254795,2.0,64.0,to addis,76.0,14.0
31844675,602,2019-08-31 23:53:55,0x5B3EFF547286464D611BC15C10D3A0F2,3,0,0,59070.0,201,2019-08-31 23:19:06,34.816667,101.796075,16.0,64.0,to addis,62.0,14.0

In [6]:
#date_range = pd.date_range(pd.to_datetime('2014-08-28'), traffic_final.trans_occur_time.max())
#date_range = list(date_range)
#hour_range = list(range(0,24))
#km_range = [1000*x for x in range(0,79)]
#day_hour_km = [[x + datetime.timedelta(hours=y),z] for x in date_range for y in hour_range for z in km_range]

In [10]:
#t = traffic_final.sample(n=100).reset_index(drop=True)

In [19]:
#%%time
#def get_traffic(traffic_dataset, day_hour_km):
#    
#    traffic = []
#    ent_occur_time = traffic_dataset.ent_occur_time
#    trans_occur_time = traffic_dataset.trans_occur_time
#    distance = traffic_dataset.distance.fillna(0)
#    entr_km_from_addis = traffic_dataset.entr_km_from_addis
#    exit_km_from_addis = traffic_dataset.exit_km_from_addis
#    direction = traffic_dataset.direction
#    
#    for x in day_hour_km[:4]:
#        print(x)
#        counter = 0
#        timestamp = x[0]
#
#        for i in range(len(traffic_dataset)):
#            time_condition = (timestamp > ent_occur_time[i] and timestamp < trans_occur_time[i])
#
#            to_adama = direction[i] == 'to adama'
#            if to_adama:
#                km_condition_1 = x[1]/1000 in range(int(entr_km_from_addis[i]), int(exit_km_from_addis[i] + 1))
#                km_condition_2 = x[1]/1000 in range(int(entr_km_from_addis[i]), int(entr_km_from_addis[i] + round(distance[i]/1000)))
#            else:
#                km_condition_1 = x[1]/1000 in range(int(exit_km_from_addis[i]), int(entr_km_from_addis[i] + 1))
#                km_condition_2 = x[1]/1000 in range(int(exit_km_from_addis[i]), int(entr_km_from_addis[i] + round(distance[i]/1000)))
#            
#            if time_condition and (km_condition_1 or km_condition_2):
#                counter += 1
#        traffic.append(counter)
#    return traffic
#
#traffic = get_traffic(traffic_final, day_hour_km)

In [14]:
#entr_km_from_addis

In [51]:
df_traffic = pd.DataFrame(day_hour_km, columns=['date_hour', 'km'])
df_traffic['traffic'] = traffic

In [ ]:
segment_time['traffic']

In [47]:
len(segment_time)

4154231

In [78]:
df_traffic.date

0          2014-01-01
1          2014-01-01
2          2014-01-01
3          2014-01-01
4          2014-01-01
              ...
4154131    2019-12-31
4154132    2019-12-31
4154133    2019-12-31
4154134    2019-12-31
4154135    2019-12-31
Name: date, Length: 4154136, dtype: object

In [79]:
df_traffic['hour'] = df_traffic.date_hour.apply(lambda x: x.hour)
df_traffic['date'] = pd.to_datetime(df_traffic.date_hour.apply(lambda x: x.date()))

In [80]:
df_traffic = df_traffic.rename(columns={'km':'km_from_addis'})

In [82]:
segment_time = segment_time.merge(df_traffic, how='left', on=['date', 'hour', 'km_from_addis'])

In [93]:
traffic_final[(traffic_final.entrance_km == 2) & (traffic_final.ent_occur_time < pd.to_datetime('2014-08-30 16:00:00')) & (traffic_final.trans_occur_time > pd.to_datetime('2014-08-30 16:00:00'))]

,plaza_id,trans_occur_time,car_license,veh_type,up_down,total_weight,distance,ent_plaza_id,ent_occur_time,time_on_road,speed_km_hr,entrance_km,exit_km,direction
2,102,2014-09-01 08:37:21,0xBC6CE93C7F7B823BF30E9C741AFD5E1E,5,0,0,16930.0,101,2014-08-30 15:19:22,NaN,NaN,2.0,2.0,to addis
10,102,2014-09-01 10:08:48,0x748C5881461367AB9EED5AF82966A480,2,0,0,16930.0,101,2014-08-29 09:32:11,NaN,NaN,2.0,2.0,to addis
29,102,2014-09-01 10:39:25,0xE99EC12BEE11AAFC744800512EAF2702,2,0,0,16930.0,101,2014-08-29 10:29:40,NaN,NaN,2.0,2.0,to addis
36,102,2014-09-01 10:46:02,0xE99EC12BEE11AAFC744800512EAF2702,2,0,0,16930.0,101,2014-08-29 10:29:40,NaN,NaN,2.0,2.0,to addis
39,102,2014-09-01 10:50:28,0xE99EC12BEE11AAFC744800512EAF2702,2,0,0,16930.0,101,2014-08-29 10:29:40,NaN,NaN,2.0,2.0,to addis
42,102,2014-09-01 10:52:04,0xE99EC12BEE11AAFC744800512EAF2702,2,0,0,16930.0,101,2014-08-29 10:29:40,NaN,NaN,2.0,2.0,to addis
44,102,2014-09-01 10:53:13,0x37499BFF6CD99349DA630045E06DC0A3,2,0,0,16930.0,101,2014-08-28 14:51:24,NaN,NaN,2.0,2.0,to addis
45,102,2014-09-01 10:54:13,0x37499BFF6CD99349DA630045E06DC0A3,2,0,0,16930.0,101,2014-08-28 14:51:24,NaN,NaN,2.0,2.0,to addis
49,102,2014-09-01 10:55:40,0x0423EBD4696DD24D87A9E094527F9C66,2,0,0,16930.0,101,2014-08-28 14:51:46,NaN,NaN,2.0,2.0,to addis
50,102,2014-09-01 10:56:51,0x0423EBD4696DD24D87A9E094527F9C66,2,0,0,16930.0,101,2014-08-28 14:51:46,NaN,NaN,2.0,2.0,to addis
51,102,2014-09-01 10:57:58,0xF138F73E751C5C28F821E5FFB382E813,2,0,0,16930.0,101,2014-08-28 14:53:05,NaN,NaN,2.0,2.0,to addis
52,102,2014-09-01 10:58:47,0xF138F73E751C5C28F821E5FFB382E813,2,0,0,16930.0,101,2014-08-28 14:53:05,NaN,NaN,2.0,2.0,to addis
53,102,2014-09-01 10:59:50,0xF138F73E751C5C28F821E5FFB382E813,2,0,0,16930.0,101,2014-08-28 14:53:05,NaN,NaN,2.0,2.0,to addis
54,102,2014-09-01 11:00:58,0xF138F73E751C5C28F821E5FFB382E813,2,0,0,16930.0,101,2014-08-28 14:53:05,NaN,NaN,2.0,2.0,to addis
111,102,2014-09-02 08:16:40,0x283BE75416BEBCD216DA59EA11FAD1D5,2,0,0,16930.0,101,2014-08-30 08:46:03,NaN,NaN,2.0,2.0,to addis
22667,102,2014-09-01 10:18:16,0x4C26774D852F62440FC746EA4CDD57F6,5,0,0,16930.0,101,2014-08-30 10:44:50,NaN,NaN,2.0,2.0,to addis
22668,102,2014-09-01 10:19:18,0x4C26774D852F62440FC746EA4CDD57F6,5,0,0,16930.0,101,2014-08-30 10:44:50,NaN,NaN,2.0,2.0,to addis
22669,102,2014-09-01 10:20:52,0xD07A5A3F01FC342462E15C4CFDF8039E,2,0,0,16930.0,101,2014-08-30 10:46:12,NaN,NaN,2.0,2.0,to addis
22670,102,2014-09-01 10:22:14,0xD07A5A3F01FC342462E15C4CFDF8039E,2,0,0,16930.0,101,2014-08-30 10:46:12,NaN,NaN,2.0,2.0,to addis
22671,102,2014-09-01 10:26:22,0xD40567FD37806B2987EAE21A7E36ECCE,3,0,0,16930.0,101,2014-08-30 09:06:52,NaN,NaN,2.0,2.0,to addis
22672,102,2014-09-01 10:32:38,0x4C26774D852F62440FC746EA4CDD57F6,5,0,0,16930.0,101,2014-08-30 10:44:50,NaN,NaN,2.0,2.0,to addis
22673,102,2014-09-01 10:44:08,0x4C26774D852F62440FC746EA4CDD57F6,5,0,0,16930.0,101,2014-08-30 10:44:50,NaN,NaN,2.0,2.0,to addis
22674,102,2014-09-01 10:45:00,0xD07A5A3F01FC342462E15C4CFDF8039E,2,0,0,16930.0,101,2014-08-30 10:46:12,NaN,NaN,2.0,2.0,to addis
22685,102,2014-09-01 11:06:22,0xD07A5A3F01FC342462E15C4CFDF8039E,2,0,0,16930.0,101,2014-08-30 10:46:12,NaN,NaN,2.0,2.0,to addis
22688,102,2014-09-01 15:45:45,0xD07A5A3F01FC342462E15C4CFDF8039E,2,0,0,16930.0,101,2014-08-30 11:46:12,NaN,NaN,2.0,2.0,to addis
22731,102,2014-09-02 15:09:05,0xB27A5A543F55BDA3ADEDA94A76790BDB,2,0,0,73310.0,0,2014-08-29 09:56:53,NaN,NaN,2.0,2.0,to addis
26196,102,2014-09-01 16:10:47,0x06D86297D6E28D4637D60C86C2A2F5B6,2,0,0,16930.0,101,2014-08-29 10:16:56,NaN,NaN,2.0,2.0,to addis
279120,102,2014-09-01 10:12:59,0x8542516F8870173D7D1DABA1DAAAF0A1,3,0,0,16930.0,101,2014-08-30 09:17:22,NaN,NaN,2.0,2.0,to addis
279121,102,2014-09-01 10:17:38,0x8542516F8870173D7D1DABA1DAAAF0A1,3,0,0,16930.0,101,2014-08-30 09:17:22,NaN,NaN,2.0,2.0,to addis
279122,102,2014-09-01 10:24:07,0x8542516F8870173D7D1DABA1DAAAF0A1,3,0,0,16930.0,101,2014-08-30 09:17:22,NaN,NaN,2.0,2.0,to addis
319617,102,2014-09-01 10:00:17,0xA16FFB344F7DA08CF7D62E80D1DF097C,2,0,0,16930.0,101,2014-08-29 14:35:48,NaN,NaN,2.0,2.0,to addis
344534,102,2014-09-02 10:16:45,0xA6BB4FAACDFF9DCDCB6F6E22BC51EAC9,1,0,0,NaN,101,2014-08-28 11:03:11,NaN,NaN,2.0,2.0,to addis
344567,102,2014-09-02 11:25:12,0x480682BA6379AD6A46055E6A30D37D9C,1,0,0,NaN,101,2014-08-29 10:29:40,NaN,NaN,2.0,2.0,to addis
344623,102,2014-09-03 11:30:53,0xD869C99656EC60FC9DE27338A87B2506,1,0,0,NaN,101,2014-08-29 16:54:00,NaN,NaN,2.0,2.0,to addis
467640,202,2014-09-03 11:54:29,0x2E2C5A26E015AF13913068FFA9D3399F,2,0,0,64900.0,101,2014-08-29 11:44:53,NaN,NaN,2.0,16.0,to addis

In [90]:
#df_traffic[(df_traffic.date == '2014-08-30') & (df_traffic.hour==16)]

In [107]:
#segment_time[segment_time.traffic>=2]

# simon

In [9]:
traffic_final[['ent_occur_time','trans_occur_time', 'distance', 'entrance_km', 'exit_km', 'direction']]

,ent_occur_time,trans_occur_time,distance,entrance_km,exit_km,direction
0,2014-08-31 10:07:42,2014-09-01 08:35:30,16930.0,2.0,2.0,to addis
1,2014-08-31 10:22:29,2014-09-01 08:36:24,16930.0,2.0,2.0,to addis
2,2014-08-30 15:19:22,2014-09-01 08:37:21,16930.0,2.0,2.0,to addis
3,2014-08-31 10:20:53,2014-09-01 08:38:17,16930.0,2.0,2.0,to addis
4,NaT,2014-09-01 10:38:38,NaN,2.0,2.0,to addis
...,...,...,...,...,...,...
31844671,2019-08-31 22:50:50,2019-08-31 23:50:28,73310.0,2.0,64.0,to addis
31844672,2019-08-31 23:04:51,2019-08-31 23:52:00,73310.0,2.0,64.0,to addis
31844673,2019-08-31 22:45:44,2019-08-31 23:52:38,73310.0,2.0,64.0,to addis
31844674,2019-08-31 22:40:18,2019-08-31 23:53:18,73310.0,2.0,64.0,to addis
31844675,2019-08-31 23:19:06,2019-08-31 23:53:55,59070.0,16.0,64.0,to addis

This is what the data looks like. It is about a specific highway with 6 entries and only one road (back and forth). Every observation represents a vehicle that enters and leaves the highway at a specific point in time (ent_occur_time: entry timestamp, trans_occur_time: exit timestamp) at a specific geographical location (entrance_km & exit_km) and number of meters that were spent on the road (distance). 
<br>
The km's are from 2 to 78, time from 2014-08-31 to 2019-08-31.
<br>
<br>
I want to create a dataset that counts traffic at the km and hourly level: So for each hour and each kilometer on that road in the years 2015-2019: how many cars were there.
<br>
<br>
BTW: That the entrance_km and exit_km column are sometimes the same happens only rarely, the screenshot above is therefore misleading.
<br>
<br>
Thank you so much!!!!!!